
<div class="page" data-page="hall" data-handler="HallPage">

    <ol class="breadcrumb">
        <li><a href="#" data-t="" data-action="schedule">Main</a></li>
        <li data-t="">Hall</li>
    </ol>

    <h1><span data-text="hall"></span> Hall</h1>
    <h3 data-text="description"></h3>

    <form class="search-form" data-handler="Search">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </form>

    <div class="screening-list loadable-container"
         data-handler="HallScreeningList"
         data-url="<%- _url('/api/base/data/list') %>">

        <template data-id="list">
            <div class="row">{{items}}</div>
        </template>

        <template data-id="item">
            <div class="col-md-6">
                <div class="screening-item" data-screening="{{_id}}">
                    <div class="row">
                        <div class="col-xs-6">
                            <img data-src="<%- _url('/api/base/file/thumbnail') %>?s=small&c=poster&id={{poster}}"
                                 class="thumbnail img-responsive" alt="{{movie}}">
                        </div>
                        <div class="col-xs-6">
                            <h3>{{movie}}</h3>
                            <time>{{date}}</time>
                            <div class="duration">
                                <span data-t="">Duration</span> {{duration}} min.
                            </div>
                            <button class="btn-warning btn" data-action="screening" data-t="">Buy ticket</button>
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <template data-id="error">
            <div class="alert-danger alert">{{text}}</div>
        </template>

        <%- include('./_pagination') %>

        <div class="loadable-content"></div>
        <div class="loader"><i class="fa fa-spinner fa-spin"></i></div>
    </div>
</div>