<template id="hall">
    <div class="page">

        <breadcrumbs>
            <template #path>
                <li class="breadcrumb-item"><a @click.prevent="toSchedule" href="#" data-t="">Main</a></li>
                <li class="breadcrumb-item" data-t="meta">Hall</li>
            </template>
        </breadcrumbs>

        <h1>{{hall.name}} Hall</h1>

        <h4 v-if="hall.description">{{hall.description}}</h4>

        <div class="loadable-container">

            <search-movies @search="onSearch"></search-movies>

            <div class="screening-list">
                <div class="row">
                    <div v-for="item of items" class="col-md-6">
                        <div class="screening-item">
                            <div class="row">
                                <div class="col-6">
                                    <template v-if="item.poster">
                                        <img :src="item.poster" :alt="item.movie" class="img-thumbnail img-fluid">
                                    </template>
                                </div>
                                <div class="col-6">
                                    <h3>{{item.movie}}</h3>
                                    <time>{{item.date}}</time>
                                    <div class="duration">
                                        <span data-t="">Duration</span> {{item.duration}} min.
                                    </div>
                                    <button @click="onBuy(item.id)" class="btn-success btn">
                                        <span data-t="">Buy ticket</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <pagination @change="load"></pagination>

            <div v-show="!loading && empty" class="alert-warning alert">
                <span data-t="">No screenings found</span>
            </div>

            <div v-show="loading" class="loader">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
</template>