<%
layout(_view.get('_layout/content'));

script('front/vendor/front.min.js');
script('front/script/module.js');
%>

<%- include(_view.get('_part/signboard')) %>

<div class="cinema">

    <%- include('./_schedule') %>
    <%- include('./_hall') %>
    <%- include('./_screening') %>

</div>